<div>
    <a href="index.html#/">Back to index</a>
</div>
<p>
    <h3 ng-bind="course.name"></h3>
    <a ng-hide="course.lectopiaLink.length == 0" 
        ng-href="{{course.lectopiaLink}}">
        View list on Lectopia
    </a>
</p>
<div ng-show="course.loading">
    <img src="assets/spinner.gif" /> Loading results...
</div>
<div ng-hide="course.loading">
    <span ng-bind="course.recordings.length"></span> results
</div>

<div class="error" ng-repeat="(url, loading) in course.failedReads"  
    ng-click="loading == false && course.readUrl(url)">
    Failed to read from <a target="_blank" ng-href="{{ url }}" ng-bind="url"></a>
    <span ng-hide="loading">Click here to try again.</span>
    <span ng-show="loading"><img src="assets/spinner.gif" /> Loading...</span>
</div>

<div class="recording" ng-repeat="recording in course.recordings | orderBy:'date'">
    <div class="details">
        Recording <span ng-bind="$index + 1"></span>
        <div> 
            <span ng-bind="recording.date | date:'medium'"></span> - 
            <span ng-bind="recording.duration"></span>
        </div>
    </div>
    <div class="formats">
        <ul ng-show="recording.formats.length > 0">
            <li ng-repeat="format in recording.formats">
                <a ng-href="{{ format.download_url }}">{{ format.name }}</a>
            </li>
        </ul>
        <span ng-show="recording.formats.length == 0">No formats available.</span>
    </div>
</div>
<div ng-hide="course.loading || course.recordings.length > 0">
    No recordings found.
</div>
