<div>
    <a href="index.html#/">Back to index</a>
</div>
<p>
    <h3>{{ course.name }}</h3>
    <a ng-hide="course.lectopiaLink.length == 0" 
        ng-href="{{course.lectopiaLink}}">
        View list on Lectopia
    </a>
</p>
<div ng-show="course.loading">
    <img src="spinner.gif" /> Loading results...
</div>

<div class="recording" ng-repeat="recording in course.recordings">
    <div class="details">
        Recording {{ $index + 1 }}
        <div>{{ recording.date }} - {{ recording.duration }}</div>
    </div>
    <div class="formats">
        <ul ng-show="recording.formats.length > 0">
            <li ng-repeat="format in recording.formats">
                <a href="https://lectopia.rmit.edu.au/lectopia/casterframe.lasso?fid={{ format.id }}">{{ format.name }}</a>
            </li>
        </ul>
        <span ng-show="recording.formats.length == 0">No formats available.</span>
    </div>
</div>
<div ng-hide="course.loading || course.recordings.length > 0">
    No recordings found.
</div>
